@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&family=Roboto:wght@300&display=swap');

body{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     font-family: 'Roboto', sans-serif;
     font-family: 'Roboto Slab', serif;
}

/* css Color Varible */

:root{
    --BG-color:rgb(185, 222, 236);
    --gray-color:gray;
    --cream-color:#FFFDD0;
    --Text-color:#4CBB17;
    --Text-bg-color:#0BDA51;

    
}
.cotianer{
     display: flex;
     min-height: 100vh;
     align-items: center;
     justify-content: center;
     background-color: var(--BG-color);
}

.card{
     max-width: 430px;
     background-color:var(--cream-color);
     border-radius: 8px;
     box-shadow: 0 0 10px var(--gray-color);
    
    
}

.card img {
   max-width: 400px;
   margin-left: 15px;
   margin-top: 10px;
   background-size: cover;
   border-radius: 8px;
}

.container2{
     padding: 2px 16px;
     
}
 
h2{
     font-size: 1.5rem;
     
}

.text{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 16px;
     align-items: center;
}

.horizontal_line{
     border-radius: 8px;
     height: 1.5px;
     background-color:var(--card-shadow-color);
}

h4{
     color:var(--Text-color);
     font-size: 1rem;
}

h4:last-child{
     color: black;
     background-color: var(--Text-bg-color);
     padding: 4px;
     font-size: 0.8rem;
     border-radius: 2.5px;
}

del{
     font-size: small;
     color: var(--gray-color);
}